
- name: Clone Video-streaming-app repository
  git:
    repo: "{{ repo_url }}"
    dest: "{{ git_clone_dest }}"
    update: yes

- name: Debug synchronize variables
  debug:
    msg:
      - "Synchronize src: {{ synchronize_src }}"
      - "Synchronize dest: {{ synchronize_dest }}"
      - "Rsync opts: --ignore-existing, --exclude={{ synchronize_src }}/src/node_modules/"

- name: Move into the rest of the files, but skip node_modules
  synchronize:
    src: "{{ synchronize_src }}"
    dest: "{{ synchronize_dest }}"
    recursive: yes
    rsync_opts:
      - "--ignore-existing"
      - "--exclude={{ synchronize_src }}/src/node_modules/"

- name: Debug synchronize completed
  debug:
    msg: "Synchronize task completed."
