<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HIPNO NUTRICIÓN - Hypnosis treatment, healthy diets and more</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Psicología, Hipnosis Clínica, Salud y Nutrición.">
	<meta property="title" content="Hipnosis en Panamá. Clínica de hipnosis. Psicología clínica">
	<meta name="robots" content="index, follow, max-image-preview:large">
	<meta name="keywords" content="hipnosis panameña, hipnotizador panameño, eliminar estrés, ansiedad, fobias, ataques de pánico, insomnio, dolor, depresión, adicción, relajación, bajar de peso, BGV"/>
    

    <!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet"> -->

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">


	<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"> -->


	<!-- Font awesome -->
	<!-- <link href="/public/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
	<script src="https://kit.fontawesome.com/59bb8d91dc.js" crossorigin="anonymous"></script>
	<!-- Font awesome -->
	
	<link rel="icon" type="image/png" href="/public/admin/img/admin-favicon.png">
    <link rel="stylesheet" href="/public/site/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/public/site/css/animate.css">
    
    <link rel="stylesheet" href="/public/site/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/site/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/public/site/css/magnific-popup.css">

    <link rel="stylesheet" href="/public/site/css/aos.css">

    <link rel="stylesheet" href="/public/site/css/ionicons.min.css">

    <link rel="stylesheet" href="/public/site/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/public/site/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/public/site/css/flaticon.css">
    <link rel="stylesheet" href="/public/site/css/icomoon.css">

	<link rel="stylesheet" type="text/css" href="/public/admin/css/video-js.css">
	<link rel="stylesheet" href="/public/admin/css/preloader.css">
   	<link rel="stylesheet" href="/public/admin/css/popup.css">
	<link rel="stylesheet" href="/public/admin/css/alertify.min.css">

    <link rel="stylesheet" href="/public/site/css/style.css">

		<!-- <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script> -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/utc.js"></script> -->
	<!-- <script>
	console.log(dayjs);
	console.log(window.dayjs_plugin_utc);
	console.log(window);
	dayjs.extend(window.dayjs_plugin_utc);
	dayjs.extend(window.dayjs_plugin_timezone);
	dayjs.tz.setDefault("America/Panama");
	</script> -->
	<!-- <script>dayjs.tz.setDefault("America/Panama");</script> -->

	<script src="/public/site/js/jquery.min.js"></script>
	<script src="/public/site/js/jquery-migrate-3.0.1.min.js"></script>
  </head>

  <body>
    <nav class="navbar top-navigation-bar py-4 navbar-expand-lg ftco_navbar navbar-light bg-light flex-row">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
				<% if (isLogin) { %>
					<div class="col-6 col-md-2 align-items-center header-logo-container-admin">
						<a class="navbar-brand" href="/"><img class="img-fluid" alt="" src="/public/admin/img/logo.png"></a>
					</div>
					<div class="col-6 col-md-10">
						<div class="row d-flex header-contact-section-admin">
							<!-- <div class="col-md-4 d-flex topper align-items-center">
				
							</div> -->
							<div class="d-md-flex d-none topper align-items-center">
								<div class="icon bg-white mr-3 d-flex justify-content-center align-items-center">
									<span class="fas fa-envelope"></span>
								</div>
								<span class="text">
									Email:
									<a href = "mailto:larissa.mora58@gmail.com?subject=Hypnonutrition_visitor">larissa.mora58@gmail.com</a>
								</span>
							</div>
							<div class="d-md-flex d-none topper align-items-center">
								<div class="icon bg-white mr-3 d-flex justify-content-center align-items-center">
									<span class="fas fa-phone"></span>
								</div>
								<span class="text">
									Phone:  <a href = "tel:+50769979272">+507 6997-9272</a>
								</span>
							</div>
							<div class="d-flex topper align-items-center">
								<div class="nav-item dropdown no-arrow videohost-right-navbar-user">
									<a class="nav-link dropdown-toggle user-dropdown-link" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									   <img alt="Avatar" id="my-profile-picture" style="object-fit: cover;" onerror="this.src = '/public/admin/img/user_placeholder.jpg'">
									   <!-- <span id="username"></span> -->
									</a>
									<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
									   <!-- <a class="dropdown-item" href="/admin/my_channel"><i class="fas fa-fw fa-user"></i> &nbsp; My Channel</a> -->
									   <a class="dropdown-item" href="/admin"><i class="fas fa-fw fa-user-circle"></i> &nbsp; AdminPanel</a>
									   <!-- <a class="dropdown-item" href="/admin/my_settings"><i class="fas fa-fw fa-cog"></i> &nbsp; Settings</a> -->
									   <a class="dropdown-item" href="/"><i class="fas fa-fw fa-globe"></i> &nbsp; Website</a>
									   <div class="dropdown-divider"></div>
									   <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-fw fa-sign-out-alt"></i> &nbsp; Logout</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% } else { %>
					<div class="col-sm-2 align-items-center header-logo-container">
						<a class="navbar-brand" href="/"><img class="img-fluid" alt="" src="/public/admin/img/logo.png"></a>
					</div>
					<div class="col-sm-10 d-none d-sm-block">
						<div class="row d-flex header-contact-section">
							<!-- <div class="col-md-4 d-flex topper align-items-center">
				
							</div> -->
							<div class=" d-flex topper align-items-center">
								<div class="icon bg-white mr-3 d-flex justify-content-center align-items-center">
									<span class="fas fa-envelope"></span>
								</div>
								<span class="text">
									Email:
									<a href = "mailto:larissa.mora58@gmail.com?subject=Hypnonutrition_visitor">larissa.mora58@gmail.com</a>
								</span>
							</div>
							<div class=" d-flex topper align-items-center">
								<div class="icon bg-white mr-3 d-flex justify-content-center align-items-center">
									<span class="fas fa-phone"></span>
								</div>
								<span class="text">
									Phone:  <a href = "tel:+50769979272">+507 6997-9272</a>
								</span>
							</div>
							<!-- <div class="col-md-4 d-flex topper align-items-center">
				
							</div> -->
						</div>
					</div>
				<% } %>

		    </div>
		  </div>
    </nav>
	  <nav class="navbar bottom-navigation-bar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container d-flex align-items-center">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fas fa-bars"></span> Menu
	      </button>
		  <!-- <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-fw fa-sign-out-alt"></i> &nbsp; Logout</a> -->
	      <p class="button-custom order-lg-last mb-0"><a href="#" data-toggle="modal" data-target="#appointmentModal" id="appointment-button" class="btn btn-secondary py-2 px-3" >Make An Appointment</a></p>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item <%= (url === '/') ? 'active' : '' %>"><a href="/" class="nav-link pl-0">About me</a></li>
	        	<li class="nav-item <%= (url === '/videos') ? 'active' : '' %>"><a href="/videos" class="nav-link">My video lessons</a></li>
				<li class="nav-item <%= (url === '/about-hypnotherapy') ? 'active' : '' %>"><a href="/about-hypnotherapy" class="nav-link">Myths and facts</a></li>
	        	<!-- <li class="nav-item active"><a href="about.html" class="nav-link">About</a></li>
	        	<li class="nav-item"><a href="doctor.html" class="nav-link">Doctor</a></li>
	        	<li class="nav-item"><a href="department.html" class="nav-link">Departments</a></li>
	        	<li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>
	        	<li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
	          <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li> -->
	        </ul>
	      </div>
	    </div>
	  </nav>

	  	<%
			months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
		%>

		<script type="text/javascript">
			const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
		</script>

		<!-- <script type="text/javascript">
			document.getElementById("appointment-button").style.color = "red";
		</script> -->
		
		<script type="text/javascript">

			/* Video Player's height calculating based on its width */
			addEventListener("DOMContentLoaded", () => {
				$(function() {
					const vidPlayer = $('.videoPlayer-dimensions');
					const width = vidPlayer.width();
					
					vidPlayer.css('height', width / 2 );
				});
			});

			
		</script>

	<% if (isLogin) { %>
		<script type="text/javascript">

			var ajax = new XMLHttpRequest();
			ajax.open("GET", "/admin/get_user", true);

			ajax.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					var response = JSON.parse(this.responseText);

					console.log(response);

					if (response.status == "success") {
						window.user = response.user;
						// document.getElementById("username").innerHTML = user.first_name + " " + user.last_name;
						document.getElementById("my-profile-picture").setAttribute("src", window.user.image);
					}
				}
			};

			ajax.send();
		</script>
	<% } %>

	<% if (typeof error !== "undefined" && error !== "") { %>
		<script>
		   addEventListener("DOMContentLoaded", () => {
			  alertify.notify('<%= error %>', 'error', 1.5);
		   });   
		</script>
	<% } %>
    <!-- END nav -->
