.env*
.env
exports/assets/videos/*
exports/public/admin/img/*
exports/public/site/img/*
create-admin.sh
!docker-compose*.yaml
.DS_Store
usefull-commands.txt
.vscode/
# k3s/app-configmap.yaml
ks-commands.txt
k8s-commands.txt
helm.txt
nfs.txt
nfs-log.txt
Notes.txt
