.env*
.env
exports/assets/videos/*
exports/public/admin/img/*
exports/public/site/img/*
create-admin.sh
!docker-compose*.yaml
.DS_Store
usefull-commands.txt
copy-gitignores.txt
.vscode/
k3s/app-configmap.yaml
# k3s/letsencrypt-clusterissuer.yaml
# k3s/app-certificate.yaml
k3s/deploy-sequence.md
k3s/deployment-check.md
ansible/nfs-server-instructions.txt
ansible/ansible-commands.txt
ansible/ansible-to-do-list.md
ansible/vault.yaml
k3s/variables.env
ks-commands.txt
k8s-commands.txt
helm.txt
nfs.txt
nfs-log.txt
Notes.txt
certificates.txt
certificate-issuance-sequence.md
