version: '3.8'
services:
  redis:
    image: "redis:7.2-alpine"
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    volumes:
      - /data
  app:
    image: kuzurik797/videoapp-stripe:latest
    pull_policy: always
    # platform: linux/amd64 # or
    # platform: linux/arm64
    container_name: app-container
    ports:
      - "80:8080"
    volumes:
      - ./exports/assets:/usr/src/app/assets
      - ./exports/public/admin:/usr/src/app/public/admin
      - ./exports/public/site:/usr/src/app/public/site
    env_file: .env.production
    environment:
      - TZ=America/Panama
      - NODE_ENV=production



# volumes:
#   app-assets:
#     driver: local
#     driver_opts:
#       type: nfs
#       o: addr=192.168.236.172,rw,nfsvers=4
#       device: :/home/vagrant/Code/Video-streaming-app/exports/assets
#   app-admin:
#     driver: local
#     driver_opts:
#       type: nfs
#       o: addr=192.168.236.172,rw,nfsvers=4
#       device: :/home/vagrant/Code/Video-streaming-app/exports/public/admin
#   app-site:
#     driver: local
#     driver_opts:
#       type: nfs
#       o: addr=192.168.236.172,rw,nfsvers=4
#       device: :/home/vagrant/Code/Video-streaming-app/exports/public/site
