---
- name: Add ingress-nginx Helm repository
  ansible.builtin.shell: |
    helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
    helm repo update
  register: helm_repo_result
  changed_when: helm_repo_result.rc == 0
  failed_when: helm_repo_result.rc != 0
  become: true

- name: Deploy ingress-nginx with Helm
  ansible.builtin.shell: |
   helm install ingress-nginx ingress-nginx/ingress-nginx --namespace default -f {{ working_dir | default('/home/main/Video-streaming-app') }}/k3s/helm/ingress-nginx-values.yaml
  register: helm_deploy_result
  changed_when: helm_deploy_result.rc == 0
  failed_when: helm_deploy_result.rc != 0
  become: true
