<!-- Popup -->

<% const resultPayment = messages.find(m => {return m.type === 'payment'}); %>
<div id="overlay">
    <div id="screen"></div>
    <div id="dialog-success-payment" class="dialog">
        <div class="label-dialog"><i class="icon-success-payment fa-solid  fas fa-thumbs-up"></i></div>
        <div class="body-dialog">
        <h1><span>Success!</span></h1>
        <p>
            <span style="color:red;">Note!</span> Please, don't delete the<span style="color:red;"> cookie</span> for this website in order not to loose the access for this content.
        </p>
        <p>
            Make sure that your browser doesn't delete the cookie after its closing as well. 
        </p>
        </div>
        <div class="ok-dialog"><i class="icon-ok-sign fa-solid fa fa-check-circle"></i></div>
    </div>
    <div id="dialog-error-payment" class="dialog">
        <div class="label-dialog">
        <i class="icon-bug fa-solid fa fa-bolt"></i>
        </div>
        <div class="body-dialog">
        <h1 style="color:red;">Error! Payment failed!</h1>
        <p style="font-size: 12px;">
            We have notified our developers about this issue. We will contact you via email as soon as the service is up and running.<br>
            Apologies for any inconvenience caused!
        </p>
        </div>
        <div class="ok-dialog"><i class="icon-ok-sign fa-solid fa fa-check-circle"></i></div>
    </div>
</div>

<!-- Popup -->

<script type="text/javascript">

(function () {
    let modal = {};
    modal.hide = function () {
        $('#overlay').fadeOut();
        $('.dialog').fadeOut();
    };

    $(document).ready(function () {


        if("<%= resultPayment.subject %>") {
            $('#overlay').fadeIn();
            // Choose what popup to show
            $("#dialog-<%= resultPayment.subject %>").fadeIn();
        }

        // Close dialog when clicking on the "ok-dialog"
        $('.ok-dialog').click(function () {
            modal.hide();
        });
        // Prevent dialog closure when clicking the body of the dialog (overrides closing on clicking overlay)
        $('.dialog').click(function (event) {
            event.stopPropagation();
        });
    });

}());

</script>