---
### Tasks for k3s role

# Checking the server's capacity before installation
- name: Check server RAM
  ansible.builtin.shell: "free -m | awk '/^Mem:/ { print $2 }'"
  register: ram_check
  changed_when: false

- name: Warn if RAM is less than 1024MB
  ansible.builtin.debug:
    msg: "WARNING: Server has less than 1GB RAM ({{ ram_check.stdout }}MB). k3s may not run reliably."
  when: ram_check.stdout|int < 1024

# Install k3s
- name: Install k3s
  ansible.builtin.shell: |
    curl -sfL https://get.k3s.io | sh -
  become: true

- name: Ensure k3s service is running
  ansible.builtin.service:
    name: k3s
    state: started
    enabled: true
  become: true

 # Deploy MetalLB manifests
- name: Wait for k3s API to be available
  ansible.builtin.shell: "kubectl version --request-timeout=5s"
  register: kubectl_status
  until: kubectl_status.rc == 0
  retries: 5
  delay: 6
  become: true

- name: Download MetalLB manifest
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/metallb/metallb/v{{ metal_lb_controller_tag_version }}/config/manifests/metallb-native.yaml
    dest: /tmp/metallb.yaml

- name: Apply MetalLB manifest
  ansible.builtin.shell: "kubectl apply -f /tmp/metallb.yaml"
  become: true

- name: Create MetalLB IP address pool config
  ansible.builtin.copy:
    dest: /tmp/metallb-ip-pool.yaml
    content: |
      apiVersion: metallb.io/v1beta1
      kind: IPAddressPool
      metadata:
        name: default-address-pool
        namespace: metallb-system
      spec:
        addresses:
        - {{ metal_lb_ip_range }}

- name: Apply MetalLB IP address pool config
  ansible.builtin.shell: "kubectl apply -f /tmp/metallb-ip-pool.yaml"
  become: true
