<%- include ("includes/header") %>
    <!-- <section class="about-hypnotherapy-banner">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 text-center">
            
          </div>
        </div>
      </div>
    </section> -->

    <!-- <h1 class="mb-2 bread">Myths and facts about hypnotherapy</h1> -->

    <section class="about-hypnosis-section ftco-section ftco-no-pt ftc-no-pb">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 d-md-none">
                    <div class="about-hypnotherapy-image"></div>
                </div>
                <div class="col-md-6">
                    <div class="about-hypnotherapy">
                        <h1>What is Hypnosis</h1>
                        <p>
                            Hypnosis is a naturally occurring state where the analytical, conscious part of your mind
                            becomes relaxed and easily distracted. We all enter into a form of hypnotic trance on a
                            daily basis, often when we’re doing something that has become second nature to us like
                            driving on a familiar route, washing the dishes or tying our shoe laces. When we allow our
                            conscious thoughts to daydream, our unconscious mind becomes more open and receptive to
                            communication.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block">
                    <div class="about-hypnotherapy-image"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="myths-facts-section ftco-section ftco-no-pt ftc-no-pb">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <h1 class="text-center">Myths and facts about hypnotherapy</h1>
                    <div class="myths-and-facts">
                        <p>
                            There are some common myths and misconceptions about hypnosis and hypnotherapy. Please read
                            this section through and if you have any questions about hypnosis, feel free to contact me
                            by phone or by e-mail.
                        </p>
                        <p>
                            <strong>Myth 1:</strong> You are asleep during hypnosis.<br>
                            <strong>Fact 1:</strong> You are NOT asleep during hypnosis, you are in a relaxed state and
                            awake.
                        </p>
                        <p>
                            <strong>Myth 2:</strong> You are not aware of your environment while in hypnosis.
                            <strong>Fact 2:</strong> You are aware of your surroundings, you can hear, talk, and come
                            out of the trance at any time.
                        </p>
                        <p>
                            <strong>Myth 3:</strong> The hypnotist can make you do things you do not want to do, like
                            take your clothes off or rob people.<br>
                            <strong>Fact 3:</strong> You are always in control, I cannot make you do anything that you
                            do not want to do. We use hypnosis as a treatment tool, not for entertainment purposes.
                            Stage hypnosis is done to entertain people, while clinical hypnosis is done to help a client
                            overcome a particular issue. The two styles of hypnosis are very different. You can always
                            reject any suggestion.
                        </p>
                        <p>
                            <strong>Myth 4:</strong> You can get stuck in a hypnotic state.<br>
                            <strong>Fact 4:</strong> No, you cannot get stuck in hypnosis. The hypnotic state is natural
                            and it happens to you on a daily basis, e. g. when you are driving on the motorway or
                            watching television.
                        </p>
                        <p>
                            <strong>Myth 5:</strong> The hypnotist hypnotises you.<br>
                            <strong>Fact 5:</strong> Actually, you are hypnotising yourself, I just guide you through
                            the process.
                        </p>
                        <p>
                            <strong>Myth 6:</strong> You lose control under hypnosis.<br>
                            <strong>Fact 6:</strong> You are always in control!
                        </p>
                        <p>
                            <strong>Myth 7:</strong> You have never been hypnotised.<br>
                            <strong>Fact 7:</strong> The hypnotic state is a natural state of mind that you experience
                            daily.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <%- include ("includes/footer") %>