/* Modal overlay styling */
#overlay {
    display: none;
    z-index: 999000;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#overlay #screen {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
}

#overlay .dialog {
    z-index: 999001;
    display: none;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 125px;
    width: 547px;
    background-color: #777;
}

#overlay .dialog .label-dialog {
    float: left;
    height: 125px;
    width: 125px;
    background-color: #444;
    text-align: center;
    vertical-align: top;
}

#overlay .dialog .label-dialog [class^="icon-"] {
    line-height: 125px;
    font-size: 60px;
    color: #333;
}

#overlay .dialog .body-dialog {
    float: left;
    height: 125px;
    /* line-height: 125px; */
    width: 350px;
    text-align: center;
    padding: 0 10px;
}

#overlay .dialog .body-dialog h1 span {
    color: white;
    /* font-size: 16px; */
}


#overlay .dialog .body-dialog p {
    text-align: center;
    /* font: 16px roboto; */
    font-size: 12px;
    color: #eee;
    margin-bottom: 8px;
}

#overlay .dialog .body-dialog h1 {
    /* font: 18px roboto; */
    font-size: 16px;
    padding: 3px;
}

#overlay .dialog .body-dialog p span {
    font-weight: 700;
}

#overlay .dialog .ok-dialog {
    float: left;
    height: 125px;
    width: 72px;
    background-color: #333;
    text-align: center;
    vertical-align: top;
}

#overlay .dialog .ok-dialog [class^="icon-"] {
    line-height: 125px;
    font-size: 30px;
    color: #eee;
}

#overlay .dialog .ok-dialog:hover {
    background-color: #555;
    cursor: pointer;
}

#overlay #dialog-success-payment .label-dialog [class^="icon-"] {
    color: #52cc52;
}

#overlay #dialog-success-payment .ok-dialog {
    background-color: #52cc52;
}

#overlay #dialog-success-payment .ok-dialog:hover {
    background-color: #41dd41;
}

#overlay #dialog-error-payment .label-dialog [class^="icon-"] {
    color: #cc5252;
}

#overlay #dialog-error-payment .ok-dialog {
    background-color: #cc5252;
}

#overlay #dialog-error-payment .ok-dialog:hover {
    background-color: #dd4141;
}

/* For mobile version */
@media (max-width: 768px) {

    #overlay .dialog .body-dialog h1 {
        font-size: 14px;
    }

    #overlay .dialog .label-dialog {
        display: none;
    }

    #overlay .dialog {
        width: 315px;
    }

    #overlay .dialog .body-dialog {
        width: 257px;
        padding: 0;
    }

    #overlay .dialog .ok-dialog {
        width: 58px;
    }

    #overlay .dialog .body-dialog p {
        font-size: 10px;
    }
}